/* Reset all default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}
header {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  position: relative; /* Add this to position the overlay */
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; /* Add padding for better spacing */
}
ul {
  display: flex;
  gap: 2rem;
}
li {
  list-style: none;
}
.overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
}
.overlay p {
  font-size: 5.2rem;
  line-height: 1.35;
  font-family: "Roboto Slab";
  margin-bottom: 1rem;
}
.overlay img {
  height: 34rem;
  width: 24%;
  border-radius: 50%; /* Make the image circular */
}
/* adding yellow color  */
.highlight {
  position: relative;
}
.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: linear-gradient(to top left, #cf711f, #e67e22);
}
/* NAVIGATION */
.nav__logo {
  font-weight: 400;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #0c0b0bf2;
}
.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 3rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.8rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}
/* contact links stykes */
.contact-links {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  z-index: 1000;
}
.contact-links {
  display: flex;
  align-items: center;
}

.contact-link {
  display: inline-block;
  margin-left: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
/* Styling for Buttons */
.btn {
  display: inline-block;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}
.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: #e67e22;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
/* styling general section */
.section {
  padding: 15rem 3rem;
  width: 100vw;
  border-top: 1px solid #e7d5d53d;
  background-color: #333333;
  color: #fff;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
.container {
  max-width: 96rem;
  margin: 0 auto;
  padding: 2rem;
  font-size: 2rem;
  font-family: "Roboto Slab";
}
.container h2 {
  margin-bottom: 3rem;
}
.container p {
  font-size: 2rem;
  line-height: 1.6;
}
/* Styling for about Section */
#section--1 h2 {
  border-bottom: 2px solid #e67e22;
  display: inline-block;
  position: relative;
}
#section--1 h2::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 2px;
  background-color: #e67e22;
}
/* Styling for Skills Section */
#section--2 ul {
  list-style: none;
  padding: 0;
}

#section--2 li {
  margin-bottom: 1rem;
}
#section--2 .skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
#section--2 .skills-list li {
  width: calc(50% - 3rem);
  max-width: 180px;
  margin: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
/* Styling for Projects Section */
#section--3 {
  background-color: #8888888f;
  color: black;
}
/* Styling for Contact Section */
.contact--container {
  width: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
#section--4 .contact-container {
  padding-top: 3rem;
}
.con--links {
  list-style: none;
  padding: 0;
  padding-top: 2rem;
  font-size: 1.8rem;
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.con--links li {
  margin-bottom: 2rem;
}
.con--links a {
  color: #e67e22;
  text-decoration: none;
  transition: color 0.3s;
}
.con--links a:hover {
  color: #ff9f4a;
}
.con--links li img {
  height: 2.4rem;
}
.con--links li img.email {
  height: 8rem;
  width: 8rem;
}
#section--4 a {
  color: #0066cc;
  text-decoration: none;
}
.projects__header {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.icon {
  stroke: #e67e22;
}
.btn:hover .icon {
  stroke: #fff;
}
/* Styling for the Slider */
.slider {
  max-width: 100rem;
  height: 49rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
  position: absolute;
  height: 100%;
}
.projects-photo {
  width: 86%;
  max-height: 100%;
  object-fit: cover;
}
.slider-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  position: absolute; /* Change from "absolute" to "relative" */
  top: 60%; /* Adjust the value based on your design */
  transform: translateY(-50%);
}
.left {
  left: 4%;
  transform: translate(-50%, -50%);
}
.right {
  right: 4%;
  transform: translate(50%, -50%);
}
.icon {
  width: 3rem;
  height: 3rem;
  text-align: center;
}
.dots {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #fff;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #e67e22;
  opacity: 1;
}

/* any class which is managed by js */
/* menu-toggle styles */
.menu--bar {
  display: none;
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}
.btn--close-modal {
  display: none;
  position: absolute;
  top: 8rem;
  right: 0;
  height: 3.5rem;
  font-size: 3rem;
  width: 3.5rem;
  color: white;
  background-color: inherit;
}
/* Mobile-friendly styles  */
@media screen and (max-width: 768px) {
  .menu--bar {
    display: block;
  }
  .nav {
    padding: 0 5rem;
  }
  .nav__links {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 12rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    transform: translatex(-100%);
    z-index: 101;
  }
  .btn--close-modal {
    display: block;
  }
  .nav__links.active {
    transform: translatex(0);
    height: 100vh;
  }

  .nav__item {
    margin: 2rem 0;
  }

  .menu-toggle {
    display: block;
    z-index: 102;
  }
  .overlay {
    padding: 0 1rem;
  }

  .overlay p {
    font-size: 4.4rem;
  }

  .overlay img {
    max-width: 20%;
    max-height: 26rem;
  }
  .section {
    padding: 10rem 2rem;
  }

  .container {
    font-size: 1.8rem;
  }

  .container h2 {
    margin-bottom: 2rem;
  }

  .container p {
    font-size: 1.8rem;
    line-height: 1.5;
  }
  .slider {
    max-width: 100rem;
    height: 40rem;
  }
  .contact--container {
    width: 82%;
  }
}
/* Media Query for Screens up to 576px */
@media screen and (max-width: 576px) {
  .nav {
    padding: 0 4rem;
  }
  .nav__links {
    height: 100vh;
    transform: translatex(-100%);
  }

  .btn--close-modal {
    display: none;
  }

  .nav__links.active {
    transform: translatex(0);
  }

  .menu-toggle {
    z-index: 102;
  }
  .overlay {
    padding: 0 1rem;
  }

  .overlay p {
    font-size: 3.4rem;
  }

  .overlay img {
    max-width: 80%;
    max-height: 23rem;
  }

  .section {
    padding: 6rem 1rem;
  }

  .container {
    font-size: 1.6rem;
  }

  .container h2 {
    margin-bottom: 1.5rem;
  }

  .container p {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  .slider {
    max-width: 100%;
    height: 30rem;
  }
  .left {
    left: 2%;
    transform: translate(-50%, -50%);
  }
  .right {
    right: 2%;
    transform: translate(50%, -50%);
  }
}
@media screen and (max-width: 347px) {
  .nav {
    padding: 0 3rem;
  }
  .con--links li img.email {
    height: 4rem;
    width: 4rem;
  }
  .con--links li img {
    height: 1.4rem;
  }
  .overlay p {
    font-size: 2.4rem;
  }
  .overlay img {
    max-height: 20rem;
  }
  .icon {
    height: 2rem;
    width: 2rem;
  }
}
